.background {
    -fx-background-color: #1d1d1d;
}
.hbox-group {
    -fx-background-color: #1d1d1d;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.menu-bar > .container > .menu-button {
     -fx-text-fill: white;

}
.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: white;

}

.menu-bar-item :focused {
    -fx-background-color:grey;
    -fx-focus-color:derive(#1d1d1d,50%);

}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color:grey; -fx-my-menu-color-highlighted:derive(#1d1d1d,50%);
}



.menu-item:focused {
    -fx-background-color:grey;
    -fx-focus-color:derive(#1d1d1d,50%);
}





.menu-item .label {
    -fx-text-fill: white;

}



.menu-bar .MenuItem {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.separator .line {
    -fx-background-color: black;
    -fx-pref-height: 5;
    -fx-border-color: null ;
}



#tulpe> .label {

    -fx-graphic: url("tulpe.png");
    -fx-graphic-size: 16px 16px;

}
#rose> .label {

    -fx-graphic: url("rose.png");
    -fx-graphic-size: 16px 16px;

}

#water> .label {

    -fx-graphic: url("water.png");
    -fx-graphic-size: 16px 16px;}

#grass> .label {

    -fx-graphic: url("grass.png");
    -fx-graphic-size: 16px 16px;}

#orchidee> .label {

    -fx-graphic: url("orchidee.png");
    -fx-graphic-size: 16px 16px;}

#sunflower> .label {

    -fx-graphic: url("sunflower.png");
    -fx-graphic-size: 16px 16px;}


#groundlevelup> .label {

    -fx-graphic: url("groundlevelup.png");
    -fx-graphic-size: 16px 16px;}

#bodendecker> .label {

    -fx-graphic: url("bodendecker.png");
    -fx-graphic-size: 16px 16px;}

#plates> .label {

    -fx-graphic: url("plates.png");
    -fx-graphic-size: 16px 16px;}

#sand> .label {

    -fx-graphic: url("sand.png");
    -fx-graphic-size: 16px 16px;}

#delete> .label {

    -fx-graphic: url("delete.png");
    -fx-graphic-size: 16px 16px;}

#lowerlevel> .label {

    -fx-graphic: url("lowerlevel.png");
    -fx-graphic-size: 16px 16px;}



